<div class="container py-4 my-4 mx-auto d-flex flex-column">
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <h1>AQAUMAB STRONG</h1>
            </div>
            <div class="col-md-3 text-right pqr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
            <p class="text-right para">Su Arıtma</p>
        </div>
    </div>
    <div class="container-body mt-4">
        <div class="row r3">
            <div class="col-md-5 p-0 klo">
                <ul>
                    <li>AQAUMAB STRONG</li>
                    <li>SU ARITMA CİHAZI</li>
                    <li>11 AŞAMALI</li>
                    <li>9,1 PH</li>
                    <li>Stok Durumu: Stokta Var</li>
                    <li>Normal Delivery : 4-5 Days</li>
                    <li>Express Delivery : 2-3 Days</li>
                   
                </ul>
            </div>
            <div class="col-md-6"> <img src="~/img/AQAUMAB STRONG.jpg" width="90%" height="95%"> </div>
        </div>
    </div>
    <div class="footer d-flex flex-column mt-5">
        <div class="row r4">
            <div class="col-md-2 myt des"><a href="#">Description</a></div>
            <div class="col-md-2 myt "><a href="#">Review</a></div>
            <div class="col-md-2 mio offset-md-4"><a href="#">200,00TL</a></div>
            <div class="col-md-2 myt "><a href="#">BUY NOW</a></div>
        </div>
    </div>
</div>
<div class="text-xxl-center mb-4">
    Benzer Ürünler
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <a asp-area="" asp-controller="Home" asp-action="FobriteT15">
        <div class="col">
            <div class="card h-100 btn btn-outline-primary">
                <img src="~/img/FOBRİTE T15 FİLTRE VALF.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">FOBRİTE T15 FİLTRE VALF</h5>
                    <p class="card-text">
                        FOBRİTE T15 FİLTRE VALFİ F- 100 MODELİ

                        TANK EBATI  14" X 65"
                        1 1/2" BAĞLANTI
                    <P>
                        506,00TL+KDV
                    </P>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Stok Durumu: Stokta var</small>
                </div>
            </div>
        </div>
    </a>
    <a asp-area="" asp-controller="Home" asp-action="VigorSuArıtma">
        <div class="col">
            <div class="card h-100 btn btn-outline-primary">
                <img src="~/img/VİGOR SU ARITMA CİHAZI.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">VİGOR SU ARITMA CİHAZI</h5>
                    <p class="card-text">
                        VİGOR SU ARITMA CİHAZI 11 AŞAMALI 9,1 PH
                    <p>50,00TL+KDV</p>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Stok Durumu: Stokta var</small>
                </div>
            </div>
        </div>
    </a>

</div>
