<div class="container py-4 my-4 mx-auto d-flex flex-column">
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <h1>AQUABİR RO 400</h1>
            </div>
            <div class="col-md-3 text-right pqr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
            <p class="text-right para">Su Arıtma</p>
        </div>
    </div>
    <div class="container-body mt-4">
        <div class="row r3">
            <div class="col-md-5 p-0 klo">
                <ul>
                    <li>AQUABİR RO 400</li>
                    <li>Su Arıtma</li>
                    <li>Tanksız</li>
                    <li>1 1/2" BAĞLANTI</li>
                    <li>Stok Durumu: Stokta Var</li>
                    <li>Normal Delivery : 4-5 Days</li>
                    <li>Express Delivery : 2-3 Days</li>

                </ul>
            </div>
            <div class="col-md-6"> <img src="~/img/ro300-228x228.png" width="90%" height="95%"> </div>
        </div>
    </div>
    <div class="footer d-flex flex-column mt-5">
        <div class="row r4">
            <div class="col-md-2 myt des"><a href="#">Description</a></div>
            <div class="col-md-2 myt "><a href="#">Review</a></div>
            <div class="col-md-2 mio offset-md-4"><a href="#">253,00TL</a></div>
            <div class="col-md-2 myt "><a href="#">BUY NOW</a></div>
        </div>
    </div>
</div>

<div class="text-xxl-center mb-4">
    Benzer Ürünler
</div>


<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <a asp-area="" asp-controller="Home" asp-action="HatAlma">
        <div class="col">
            <div class="card h-100 btn btn-outline-primary">
                <img src="~/img/3.8 HAT ALMA-228x228.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">3/8 HAT ALMA APARATI</h5>
                    <p class="card-text">
                        3/8 HAT ALMA APARATI
                    <p>
                        50,00TL
                    </p>
                    </p>
                </div>
                <div class="card-footer">
                    <bold small class="text-body-secondary">Stok Durumu: Stokta Var</bold>
                </div>
            </div>
        </div>
    </a>
  
    <a asp-area="" asp-controller="Home" asp-action="GalonTank">
        <div class="col">
            <div class="card h-100 btn btn-outline-primary">
                <img src="~/img/2.2 GALON TANK (8 LİTRE).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">2.2 GALON TANK (8 LİTRE)</h5>
                    <p class="card-text"> 2.2 GALON TANK (8 LİTRE) 10 TON/GÜN
                    <P>500,00TL</P>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Stok Durumu: Stokta var</small>
                </div>
            </div>
        </div>
    </a>

</div>


