<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="HatAlma">
        <div class="col">
            <div class="card h-100 btn btn-outline-primary">
                <img src="~/img/3.8 HAT ALMA-228x228.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">3/8 HAT ALMA APARATI</h5>
                    <p class="card-text">
                        3/8 HAT ALMA APARATI
                    <p>
                        50,00TL
                    </p>
                    </p>
                </div>
                <div class="card-footer">
                    <bold small class="text-body-secondary">Stok Durumu: Stokta Var</bold>
                </div>
            </div>
        </div>
    </a>
    <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="AquaBirRo400">
        <div class="col">
            <div class="card h-100 btn btn-outline-primary">
                <img src="~/img/ro300-228x228.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">AQUABİR RO 400</h5>
                    <p class="card-text">
                        AQUABİR RO 400 SU ARITMA CİHAZI (TANKSIZ)

                        14" X 65"
                        1 1/2" BAĞLANTI
                    <P>
                        253,00TL+KDV
                    </P>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Stok Durumu: Stokta var</small>
                </div>
            </div>
        </div>
    </a>
    <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="GalonTank">
        <div class="col">
            <div class="card h-100 btn btn-outline-primary">
                <img src="~/img/2.2 GALON TANK (8 LİTRE).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">2.2 GALON TANK (8 LİTRE)</h5>
                    <p class="card-text"> 2.2 GALON TANK (8 LİTRE) 10 TON/GÜN
                    <P>500,00TL</P>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Stok Durumu: Stokta var</small>
                </div>
            </div>
        </div>
    </a>
    
</div>