<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="RunxınF7P1">
        <div class="col">
            <div class="card h-100 btn btn-outline-primary">
                <img src="~/img/RUNXIN F71P1 34 FİLTRE VALF.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">RUNXIN F71P1 34 FİLTRE VALF</h5>
                    <p class="card-text">RUNXIN F71P1 3/4" FİLTRE VALFİ
                    <p>
                        120,00TL
                    </p>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Stok Durumu: Stokta var</small>
                </div>
            </div>
        </div>
    </a>
    <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="GalonTank">
        <div class="col">
            <div class="card h-100 btn btn-outline-primary">
                <img src="~/img/2.2 GALON TANK (8 LİTRE).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">2.2 GALON TANK (8 LİTRE)</h5>
                    <p class="card-text"> 2.2 GALON TANK (8 LİTRE) 10 TON/GÜN
                    <P>500,00TL</P>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Stok Durumu: Stokta var</small>
                </div>
            </div>
        </div>
    </a>
    <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="EkoApex">
        <div class="col">
            <div class="card h-100 btn btn-outline-primary">
                <img src="~/img/EKO APEX RO 56.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">EKO APEX RO 5x6</h5>
                    <p class="card-text">
                        EKO APEX RO 5x6 ENDÜSTRİEL SU ARITMA CİHAZI 30 TON  SAAT
                    <p>
                        28.292,00TL+KDV
                    </p>
                    </p>
                </div>
                <div class="card-footer">
                    <bold small class="text-body-secondary">Stok Durumu: Stokta Var</bold>
                </div>
            </div>
        </div>
    </a>
    
</div>
