<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="OnArıtmalıRo900">
        <div class="col">
            <div class="card h-100 btn btn-outline-primary">
                <img src="~/img/ÖN ARITMALI.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ÖN ARITMALI RO 900</h5>
                    <p class="card-text">
                        ÖN ARITMALI RO 900 REVERSE OSMOSİS ( 2 TON / GÜN ) N ARITMA

                        10*35 KUM

                        10*35 KARBON

                        STANDART ÖZELLİKLER

                        %96 Saflaştırma

                        Boyalı Çelik Şasi
                    <p>
                        2007,00TL
                    </p>
                    </p>
                </div>
                <div class="card-footer">
                    <bold small class="text-body-secondary">Stok Durumu: Stokta Var</bold>
                </div>
            </div>
        </div>
    </a>
    <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="AquaMabRo300">
        <div class="col">
            <div class="card h-100 btn btn-outline-primary">
                <img src="~/img/aqaumab-ro-300-228x228.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">AQUAMAB RO 300</h5>
                    <p class="card-text">
                        AQUAMAB RO 300 SU ARITMA CİHAZI (TANKSIZ)

                        14" X 65"
                        1 1/2" BAĞLANTI
                    <P>
                        226,00TL+KDV
                    </P>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Stok Durumu: Stokta var</small>
                </div>
            </div>
        </div>
    </a>
    <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="VigorSuArıtma">
        <div class="col">
            <div class="card h-100 btn btn-outline-primary">
                <img src="~/img/VİGOR SU ARITMA CİHAZI.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">VİGOR SU ARITMA CİHAZI</h5>
                    <p class="card-text">
                        VİGOR SU ARITMA CİHAZI 11 AŞAMALI 9,1 PH
                    <p>50,00TL+KDV</p>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Stok Durumu: Stokta var</small>
                </div>
            </div>
        </div>
    </a>
    
</div>
